<h3><%= @hotel.title %></h3>

<p><%= @hotel.body %></p>

<%= link_to "Edit this Hotel", edit_hotel_path(@hotel), class: 'btn btn-info' %>

<%= link_to "Back to Hotels", hotels_path, class: 'btn btn-info' %>