<h3>Reviews</h3>

<p><%= @hotel.title %></p>

<p>Reviews</p>

<%= render partial: @reviews, spacer_template: "shared/break" %>

<div class="row">
	<div class="col-xs-3 col-xs-offset-5">
		<p><a class="btn btn-primary" href="<%= hotels_path %>" role="button">Back to Hotels</a></p>
	</div>
</div>